<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Comment</title>
  </head>
  <body>
    <h1>Edit Existing Comment</h1>
    <h2>Developer Test</h2>
    <a href="/dev/comments">Return to list</a>
    <form action="/dev/comments/<%= comment._id%>?_method=PUT" method="POST">
      <div>
        <label for="author">Author</label>
        <input
          type="author"
          name="author"
          id="author"
          placeholder="<%= comment.author %>"
          value="<%= comment.author %>"
        />
      </div>
      <div>
        <label for="content">Content</label>
        <input
          type="text"
          name="content"
          id="content"
          placeholder="<%= comment.content%>"
          value="<%= comment.content%>"
        />
      </div>
      <div>
        <label for="isActive">Is Active</label><br />
        <input type="radio" name="isActive" id="isActive" value="true" />
        <label>True</label>
        <br />
        <input type="radio" name="isActive" id="isActive" value="false" />
        <label>False</label>
        <br />
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </body>
</html>
