<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Comment</title>
  </head>
  <body>
    <h1>Show 1 Comment</h1>
    <h2>Developer Test</h2>
    <a href="/dev/comments">Go back</a>
    <hr />
    <div style="border: 1px solid red;">
      <p><b>Author: </b>
        <br>Id: <%= post.author.id %>
        </br>Username: <%= post.author.username %>
        </br>Avatar: <%= post.author.avata r%></p>
      <p><b>Content: </b><%= comment.content %></p>
      <p><b>IsActive:</b><%= comment.isActive %></p>
      <p><b>IsActive:</b><%= comment.spoiler %></p>
    </div>
    <br />
    <a href="/dev/comments/<%= comment._id %>/edit">Edit Comment</a>
  </body>
</html>
