<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Items</title>
</head>
<body>
    <div>
        <h1>All Items</h1>
        <h2>Developer Test</h2> 
        <a href="/">Go Back</a> | <a href="/items/newItem">New Item</a>
    </div>
    <hr />
    <% items.forEach(function(item) { %>
        <div style="border: 1px solid red;">
            <div><b>Itemname:</b> <%= item.itemName %></div>
            <div><b>URL:</b> <%= item.URL %></div>
            <div><b>likeCount:</b> <%= item.likeCount %></div>
            <div><b>Mongo ID:</b> <%= item._id %></div>
            
            <div><b></b><a href="/items/<%= item._id %>">See More</a></div>
        </div>
    <% }); %>
</body>
</html>