<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Item</title>
</head>
<body>
    <h1>Show 1 Item</h1>
    <h2>Developer Test</h2>
    <a href="/items">Go Back</a>
    <hr />
    <div style="border: 1px solid red;">
        <p><b>Itemname: </b><%= item.itemName %></p>
        <p><b>URL: </b><%= item.URL %></p>
        <p><b>Topic: </b><%= item.topic %></p>
        <p><b>Description: </b><%= item.description %></p>
        <p><b>Like: </b><%= item.likeCount %></p>
        <p><b>Author: </b><%= item.author %></p>
    </div>
    <br>
    <a href="/items/<%= item._id %>/edit">Edit Item</a>
</body>
</html>