<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h1>Edit Existing User</h1>
    <h2>Developer Test</h2>
    <a href="/users">Return to list</a><br><br>
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" value="<%= user.email %>">   
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" placeholder="First Name" value="<%= user.firstName %>">   
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="<%= user.lastName %>">   
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" value="<%= user.username %>">   
        </div>
        <div>
            <label for="bio">Biography</label>
            <input type="text" name="bio" id="bio" placeholder="Biography" value="<%= user.bio %>">   
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="number" name="phone" id="phone" placeholder="Phone Number" value="<%= user.phone %>">   
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    <br>
    <br>
    <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
        <button style="color: red;">Permanently Delete</button>
    </form>
</body>
</html>