<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Existing Post</h1>
    <h2>Developer Test</h2>
    <a href="/dev/posts">Return to list</a>
    <form action="/dev/posts/<%= post._id%>?_method=PUT" method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          name="email"
          id="title"
          value="<%= post.title %>"
        />
      </div>
      <div>
        <label for="content">Content</label>
        <input
          type="text"
          name="content"
          id="content"
          value="<%= post.content%>"
        />
      </div>
      <div>
        <label for="topic">Topic</label>
        <input
          type="topic"
          name="topic"
          id="topic"
          value="<%= post.topic %>"
        />
      </div>
      <div>
        <label for="likeCount">LikeCount</label>
        <input
          type="likeCount"
          name="likeCount"
          id="likeCount"
          value="<%= post.likeCount %>"
        />
      </div>
      <div>
        <label for="author">Author</label>
        <input
          type="author"
          name="author"
          id="author"
          value="<%= post.author %>"
        />
      </div>
      <div>
        <label for="isActive">Is Active</label><br />
        <input type="radio" name="isActive" id="isActive" value="true" />
        <label>True</label>
        <br />
        <input type="radio" name="isActive" id="isActive" value="false" />
        <label>False</label>
        <br />
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </body>
</html>
