<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Existing Post</h1>
    <h2>Developer Test</h2>
    <a href="/dev/posts">Return to list</a>
    <form action="/dev/posts/<%= post._id %>?_method=PUT" method="PUT">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="<%= post.title %>"
          value="<%= post.title %>"
        />
      </div>
      <div>
        <label for="content">Content</label></br>
        <input
          type="text"
          name="content"
          id="content"
          placeholder="<%= post.content %>"
          value="<%= post.content %>"
        />
      </div>
      <div>
        <label for="topic">Topic</label>
        <input
          type="topic"
          name="topic"
          id="topic"
          placeholder="<%= post.topic %>"
          value="<%= post.topic %>"
        />
      </div>
      <div>
        <label for="likeCount">LikeCount</label>
        <input
          type="likeCount"
          name="likeCount"
          id="likeCount"
          placeholder="<%= post.likeCount %>"
          value="<%= post.likeCount %>"
        />
      </div>
      <div>
        <label for="author">Author</label></br>
        <input
          type="author"
          name="authorId"
          id="authorId"
          placeholder="<%= post.author.id %>"
          value="<%= post.author.id %>"
        /></br>
        <input
          type="text"
          name="authorUsername"
          id="authorUsername"
          placeholder="<%= post.author.username %>"
          value="<%= post.author.username %>"
        /></br>
        <input
          type="text"
          name="authorAvatar"
          id="authorAvatar"
          placeholder="<%= post.author.avatar %>"
          value="<%= post.author.avatar %>"
        /></br>
      </div>
      <div>
        <label for="isActive">Is Active</label><br />
        <input type="radio" name="isActive" id="isActive" value="true" />
        <label>True</label>
        <br />
        <input type="radio" name="isActive" id="isActive" value="false" />
        <label>False</label>
        <br />
      </div>
      <div>
        <label for="spoiler">Spoiler</label><br />
        <input type="radio" name="spoiler" id="spoiler" value="true" />
        <label>True</label>
        <br />
        <input type="radio" name="spoiler" id="spoiler" value="false" />
        <label>False</label>
        <br />
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </body>
</html>
