<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Post</title>
  </head>
  <body>
    <h1>Show 1 Post</h1>
    <h2>Developer Test</h2>
    <a href="/dev/posts">Go back</a>
    <hr />
    <div style="border: 1px solid red;">
      <p><%= post.author %></p>
      <p><b>Title: </b><%= post.title %></p>
      <p><b>Content: </b><%= post.content %></p>
      <p><b>Interest: </b><%= post.interest %></p>
      <p><b>LikeCount: </b><%= post.likeCount %></p>
      <p><b>Author: </b>
      <br>Id: <%= post.author._id %>
      </br>Username: <%= post.author.username %>
      </br>Avatar: <%= post.author.avatar %></p>
      <p><b>IsActive:</b><%= post.isActive %></p>
      <p><b>Spoiler:</b><%= post.spoiler %></p>
    </div>
    <br />
    <a href="/dev/posts/<%= post._id %>/edit">Edit Post</a>
  </body>
</html>
