<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>
<body>
    <h1>Edit Existing List</h1>
    <h2>Developer Test</h2>
    <a href="/dev/lists">Return to list</a><br><br>
    <form action="/dev/lists/<%= list._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" id="name" placeholder="Name" value="<%= list.name %>">   
        </div>
        <div>
            <label for="items">Choose Items:</label>
            <select id="items">
                <option value="default">default</option>
            </select>
            <script>
            
                var select = document.getElementById("items"),
                         arr = ["item1","item2"];
                 
                 for(var i = 0; i < arr.length; i++)
                 {
                     var option = document.createElement("OPTION"),
                         txt = document.createTextNode(arr[i]);
                     option.appendChild(txt);
                     option.setAttribute("value",arr[i]);
                     select.insertBefore(option,select.lastChild);
                 }
                 
            </script>
    
        </div>
        <div>
            <label for="interest">Interest</label>
            <input type="interest" name="interest" id="interest" placeholder="Interest" value="<%= list.interest %>">   
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" placeholder="author" value="<%= list.author %>" >
        </div>
        <div>
            <label for="isActive">Is Active</label><br />
            <input type="radio" name="isActive" id="isActive" value="true" />
            <label>True</label>
            <br />
            <input type="radio" name="isActive" id="isActive" value="false" />
            <label>False</label>
            <br />
          </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    <br>
    <br>
    <form action="/dev/lists/<%= list._id %>?_method=DELETE" method="POST">
        <button style="color: red;">Permanently Delete</button>
    </form>
</body>
</html>