<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>
<body>
    <h1>Edit Existing List</h1>
    <h2>Developer Test</h2>
    <a href="/lists">Return to list</a><br><br>
    <form action="/lists/<%= list._id %>?_method=PUT" method="POST">
        <div>
            <label for="listName">ListName</label>
            <input type="listName" name="listName" id="listName" placeholder="ListName" value="<%= list.listName %>">   
        </div>
        <div>
            <label for="itemList">Choose Items:</label>
            <select id="itemList">
                <option value="default">default</option>
            </select>
            <script>
            
                var select = document.getElementById("itemList"),
                         arr = ["html","css","java","javascript","php","c++","node.js","ASP","JSP","SQL"];
                 
                 for(var i = 0; i < arr.length; i++)
                 {
                     var option = document.createElement("OPTION"),
                         txt = document.createTextNode(arr[i]);
                     option.appendChild(txt);
                     option.setAttribute("value",arr[i]);
                     select.insertBefore(option,select.lastChild);
                 }
                 
            </script>
    
        </div>
        <div>
            <label for="topic">Topic</label>
            <input type="topic" name="topic" id="topic" placeholder="Topic" value="<%= list.topic %>">   
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" placeholder="author" value="<%= list.author %>" >
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    <br>
    <br>
    <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
        <button style="color: red;">Permanently Delete</button>
    </form>
</body>
</html>