<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>
<body>
    <h1>Edit Existing List</h1>
    <h2>Developer Test</h2>
    <a href="/dev/lists">Return to list</a><br><br>
    <form action="/dev/lists/<%= list._id %>?_method=PUT" method="PUT">
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" id="name" placeholder="Name" value="<%= list.name %>">   
        </div>
        <div>
            <label for="interest">Interest</label>
            <input type="interest" name="interest" id="interest" placeholder="Interest" value="<%= list.interest %>">   
        </div>
        <div>
            <label for="author">Author</label></br>
            <input
              type="author"
              name="authorId"
              id="authorId"
              placeholder="<%= list.author.id %>"
              value="<%= list.author.id %>"
            /></br>
            <input
              type="text"
              name="authorUsername"
              id="authorUsername"
              placeholder="<%= list.author.username %>"
              value="<%= list.author.username %>"
            /></br>
            <input
              type="text"
              name="authorAvatar"
              id="authorAvatar"
              placeholder="<%= list.author.avatar %>"
              value="<%= list.author.avatar %>"
            /></br>
          </div>
          <div>
            <label for="isActive">Is Active</label><br />
            <input type="radio" name="isActive" id="isActive" value="true" />
            <label>True</label>
            <br />
            <input type="radio" name="isActive" id="isActive" value="false" />
            <label>False</label>
            <br />
          </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    <br>
    <br>
    <form action="/dev/lists/<%= list._id %>?_method=DELETE" method="POST">
        <button style="color: red;">Permanently Delete</button>
    </form>
</body>
</html>