<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Lists</title>
</head>
<body>
    <div>
        <h1>All Lists</h1>
        <h2>Developer Test</h2> 
        <a href="/">Go Back</a> | <a href="/dev/lists/newList">New List</a>
    </div>
    <hr />
    <% lists.forEach(function(list) { %>
        <div style="border: 1px solid red;">
            <div><b>Listname:</b> <%= list.name %></div>
            <div><b>List of Item:</b> <%= list.items %></div>
            <div><b>Mongo ID:</b> <%= list._id %></div>
            <div><b>Author:</b> <%= list.author %></div>
            <div><b></b><a href="/dev/lists/<%= list._id %>">See More</a></div>
        </div>
    <% }); %>
</body>
</html>