<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show List</title>
</head>
<body>
    <h1>Show 1 List</h1>
    <h2>Developer Test</h2>
    <a href="/dev/lists">Go Back</a>
    <hr />
    <div style="border: 1px solid red;">
        <p><b>Listname: </b><%= list.name %></p>
        <p><b>Interest: </b><%= list.interest %></p>
        <p><b>Author: </b>
        <br>Id: <%= list.author.id %>
        </br>Username: <%= list.author.username %>
        </br>Avatar: <%= list.author.avatar %></p>
        <p><b>IsActive:</b><%= list.isActive %></p>
    </div>
    <br>
    <a href="/dev/lists/<%= list._id %>/edit">Edit List</a>
</body>
</html>